<h2 class="f-w-500 m-b-24" mat-dialog-title>
  <strong>{{ action === 'Add' ? ('SENSORS.ADD' | translate) : (action === 'Update' ? ('SENSORS.UPDATE' | translate) : (action === 'Delete' ? ('SENSORS.DEACTIVATE' | translate) : ('SENSORS.REACTIVATE' | translate))) }} {{ 'SENSORS.TITLE' | translate }}</strong>
</h2>

@if (action !== 'Delete' && action !== 'Reactivate') {
<mat-dialog-content style="max-width: 600px">
  <form #sensorForm="ngForm">
    <div class="row">
      <div class="col-lg-12">
        <mat-label class="f-w-600 m-b-8 d-block">{{ 'SENSORS.DEVICE_ID' | translate }}</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="number"
            matInput
            required
            id="device_id"
            name="device_id"
            [(ngModel)]="local_data.device_id"
            [placeholder]="'SENSORS.DEVICE_ID' | translate"
          />
          <mat-icon matPrefix>
            <i-tabler name="device-mobile" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>

      <div class="col-lg-12">
        <mat-label class="f-w-600 m-b-8 d-block">{{ 'SENSORS.TYPE' | translate }}</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select
            required
            id="sensor_type"
            name="sensor_type"
            [(ngModel)]="local_data.sensor_type"
            [placeholder]="'SENSORS.SENSOR_TYPE' | translate"
          >
            <mat-option value="mq7">MQ7 (CO Sensor)</mat-option>
            <mat-option value="pulse">Pulse (Heart Rate)</mat-option>
            <mat-option value="accelerometer">Accelerometer</mat-option>
            <mat-option value="gyroscope">Gyroscope</mat-option>
          </mat-select>
          <mat-icon matPrefix>
            <i-tabler name="category" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>

      <div class="col-lg-12">
        <mat-label class="f-w-600 m-b-8 d-block">{{ 'SENSORS.NAME' | translate }}</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            matInput
            required
            id="name"
            name="name"
            [(ngModel)]="local_data.name"
            [placeholder]="'SENSORS.SENSOR_NAME' | translate"
          />
          <mat-icon matPrefix>
            <i-tabler name="antenna-bars-5" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>

      <div class="col-lg-12">
        <mat-label class="f-w-600 m-b-8 d-block">{{ 'SENSORS.UNIT' | translate }}</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            matInput
            required
            id="unit"
            name="unit"
            [(ngModel)]="local_data.unit"
            [placeholder]="'SENSORS.MEASUREMENT_UNIT' | translate"
          />
          <mat-icon matPrefix>
            <i-tabler name="ruler" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <mat-label class="f-w-600 m-b-8 d-block">{{ 'SENSORS.MIN_THRESHOLD' | translate }}</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="number"
            matInput
            id="min_threshold"
            name="min_threshold"
            [(ngModel)]="local_data.min_threshold"
            [placeholder]="'SENSORS.MIN_THRESHOLD' | translate"
          />
          <mat-icon matPrefix>
            <i-tabler name="arrow-down" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <mat-label class="f-w-600 m-b-8 d-block">{{ 'SENSORS.MAX_THRESHOLD' | translate }}</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="number"
            matInput
            id="max_threshold"
            name="max_threshold"
            [(ngModel)]="local_data.max_threshold"
            [placeholder]="'SENSORS.MAX_THRESHOLD' | translate"
          />
          <mat-icon matPrefix>
            <i-tabler name="arrow-up" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>

      <div class="col-lg-12" *ngIf="action === 'Update'">
        <mat-label class="f-w-600 m-b-8 d-block">{{ 'SENSORS.STATUS' | translate }}</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select [(ngModel)]="local_data.is_active" name="is_active">
            <mat-option [value]="true">{{ 'SENSORS.ACTIVE' | translate }}</mat-option>
            <mat-option [value]="false">{{ 'SENSORS.INACTIVE' | translate }}</mat-option>
          </mat-select>
          <mat-icon matPrefix>
            <i-tabler name="toggle-left" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <button
        mat-flat-button
        color="primary"
        (click)="doAction()"
        [disabled]="!sensorForm.valid"
        class="m-r-8"
      >
        {{ action === 'Add' ? ('SENSORS.ADD' | translate) : ('SENSORS.UPDATE' | translate) }}
      </button>
      <button mat-stroked-button (click)="closeDialog()" color="warn">
        {{ 'SENSORS.CANCEL' | translate }}
      </button>
    </div>
  </form>
</mat-dialog-content>
} @else if (action === 'Delete') {
<mat-dialog-content>
  <p class="m-t-16">
    {{ 'SENSORS.DEACTIVATE_CONFIRM' | translate }}
    <strong>{{ local_data.name }}</strong> (ID: {{ local_data.id }})?
  </p>
  <p class="text-muted f-s-13">{{ 'SENSORS.DEACTIVATE_INFO' | translate }}</p>
  <div class="d-flex justify-content-end m-t-24">
    <button mat-flat-button color="warn" (click)="doAction()" class="m-r-8">
      {{ 'SENSORS.DEACTIVATE' | translate }}
    </button>
    <button mat-stroked-button (click)="closeDialog()">{{ 'SENSORS.CANCEL' | translate }}</button>
  </div>
</mat-dialog-content>
} @else {
<mat-dialog-content>
  <p class="m-t-16">
    {{ 'SENSORS.REACTIVATE_CONFIRM' | translate }}
    <strong>{{ local_data.name }}</strong> (ID: {{ local_data.id }})?
  </p>
  <p class="text-muted f-s-13">{{ 'SENSORS.REACTIVATE_INFO' | translate }}</p>
  <div class="d-flex justify-content-end m-t-24">
    <button mat-flat-button color="primary" (click)="doActionReactivate()" class="m-r-8">
      {{ 'SENSORS.REACTIVATE' | translate }}
    </button>
    <button mat-stroked-button (click)="closeDialog()">{{ 'SENSORS.CANCEL' | translate }}</button>
  </div>
</mat-dialog-content>
}
