<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input
            matInput
            [placeholder]="'MAINTENANCE.SEARCH_PLACEHOLDER' | translate"
            (keyup)="applyFilter($any($event.target).value)"
          />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            {{ 'MAINTENANCE.DESCRIPTION' | translate }}
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.description }}
          </td>
        </ng-container>

        <ng-container matColumnDef="device_id">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            {{ 'MAINTENANCE.DEVICE_ID' | translate }}
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.device_id }}
          </td>
        </ng-container>

        <ng-container matColumnDef="performed_by">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            {{ 'MAINTENANCE.PERFORMED_BY' | translate }}
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.performed_by }}
          </td>
        </ng-container>

        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            {{ 'MAINTENANCE.CREATED_AT' | translate }}
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.created_at | date : "short" }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSize]="10"
        [pageSizeOptions]="[10, 20, 30]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
