<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input
            matInput
            [placeholder]="'ALERTS.SEARCH_PLACEHOLDER' | translate"
            (keyup)="applyFilter($any($event.target).value)"
          />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="alert_type">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            {{ 'ALERTS.ALERT_TYPE' | translate }}
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.alert_type }}
          </td>
        </ng-container>

        <ng-container matColumnDef="severity">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            {{ 'ALERTS.SEVERITY' | translate }}
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            <span
              class="badge"
              [ngClass]="{
                'bg-success': element.severity === 'low',
                'bg-warning': element.severity === 'medium',
                'bg-error': element.severity === 'high'
              }"
            >
              {{ 'ALERTS.SEVERITY_' + element.severity.toUpperCase() | translate }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="reading_id">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            {{ 'ALERTS.READING_ID' | translate }}
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.reading_id }}
          </td>
        </ng-container>

        <ng-container matColumnDef="timestamp">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            {{ 'ALERTS.TIMESTAMP' | translate }}
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.timestamp | date : "short" }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSize]="10"
        [pageSizeOptions]="[10, 20, 30]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
