<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <div class="hstack align-items-center flex-column flex-lg-row">
          <div class="w-100">
            <mat-card-title>{{ 'ACTIVE_WORKERS.TITLE' | translate }}</mat-card-title>
          </div>
        </div>
      </div>

      <div class="col-lg-4 d-flex align-items-center justify-content-end">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input
            matInput
            [placeholder]="'ACTIVE_WORKERS.SEARCH_PLACEHOLDER' | translate"
            (keyup)="applyFilter($any($event.target).value)"
          />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">{{ 'ACTIVE_WORKERS.WORKER' | translate }}</th>
          <td mat-cell *matCellDef="let element" class="f-s-14 f-w-500">
            {{ element.nombre }}
          </td>
        </ng-container>

        <ng-container matColumnDef="area">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">{{ 'ACTIVE_WORKERS.AREA' | translate }}</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.area }}
          </td>
        </ng-container>

        <ng-container matColumnDef="ritmoCardiaco">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">{{ 'ACTIVE_WORKERS.HEART_RATE' | translate }}</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            <span class="f-w-600">
              {{ element.ritmoCardiaco }} BPM
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="temperaturaCorporal">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">{{ 'ACTIVE_WORKERS.TEMPERATURE' | translate }}</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            <span class="f-w-600">
              {{ element.temperaturaCorporal }}°C
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="nivelBateria">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">{{ 'ACTIVE_WORKERS.BATTERY' | translate }}</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            <span class="f-w-600">
              {{ element.nivelBateria }}%
            </span>
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="tiempoActivo">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">{{ 'ACTIVE_WORKERS.STATUS' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <span class="f-s-14">
              {{ element.tiempoActivo_ts | date : 'HH:mm:ss' }}
            </span>
          </td>
        </ng-container> -->

        <!-- <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            {{ 'ACTIVE_WORKERS.ACTIONS' | translate }}
          </th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a
              (click)="openDialog('Update', element)"
              class="m-r-10 cursor-pointer"
              matTooltip="Editar"
              ><i-tabler name="edit" class="icon-18"></i-tabler
            ></a>
            <a
              (click)="openDialog('Delete', element)"
              class="cursor-pointer"
              matTooltip="Eliminar"
            >
              <i-tabler name="trash" class="icon-18"></i-tabler>
            </a>
          </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
