<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <mat-card-title>Áreas de mayor riesgo</mat-card-title>
  </mat-card-content>
  <mat-card-content class="p-24 p-t-0">
    <div class="d-flex align-items-center justify-content-between gap-16">
      <span class="f-w-600 f-s-14">Tunel 1</span>
      <mat-progress-bar mode="determinate" value="28"></mat-progress-bar>
      <span class="f-w-600 f-s-14 text-muted">28%</span>
    </div>

    <div
      class="d-flex align-items-center justify-content-between gap-16 m-t-20"
    >
      <span class="f-w-600 f-s-14">Tunel 2</span>
      <mat-progress-bar
        mode="determinate"
        color="accent"
        value="21"
      ></mat-progress-bar>
      <span class="f-w-600 f-s-14 text-muted">21%</span>
    </div>

    <div
      class="d-flex align-items-center justify-content-between gap-16 m-t-20"
    >
      <span class="f-w-600 f-s-14">Tunel 3</span>
      <mat-progress-bar
        mode="determinate"
        color="warn"
        value="18"
      ></mat-progress-bar>
      <span class="f-w-600 f-s-14 text-muted">18%</span>
    </div>

    <div
      class="d-flex align-items-center justify-content-between gap-16 m-t-20"
    >
      <span class="f-w-600 f-s-14">Tunel 4</span>
      <mat-progress-bar mode="determinate" value="12"></mat-progress-bar>
      <span class="f-w-600 f-s-14 text-muted">12%</span>
    </div>
    <div
      class="d-flex align-items-center justify-content-between gap-16 m-t-20"
    >
      <span class="f-w-600 f-s-14">Tunel 5</span>
      <mat-progress-bar mode="determinate" value="12"></mat-progress-bar>
      <span class="f-w-600 f-s-14 text-muted">12%</span>
    </div>
    <div
      class="d-flex align-items-center justify-content-between gap-16 m-t-20"
    >
      <span class="f-w-600 f-s-14">Tunel 6</span>
      <mat-progress-bar mode="determinate" value="12"></mat-progress-bar>
      <span class="f-w-600 f-s-14 text-muted">12%</span>
    </div>
  </mat-card-content>
</mat-card>
