@media (max-width: 900px) {
  .responsive-section {
    flex-direction: column !important;
    align-items: center !important; /* Centra todo en el eje horizontal */
    text-align: center;
  }
  .responsive-section img {
    margin-bottom: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto; /* Esto asegura que la imagen esté centrada */
  }
  .responsive-section > div {
    text-align: center;
  }
}
