<h2 class="f-w-500 m-b-24" mat-dialog-title>
  <strong>{{ action }} {{ 'SHIFTS.TITLE' | translate }}</strong>
</h2>

@if (action === 'Add' || action === 'Update') {
<mat-dialog-content style="max-width: 600px">
  <form #shiftForm="ngForm">
    <div class="row">
      <div class="col-lg-6">
        <mat-label class="f-w-600 m-b-8 d-block">{{ 'SHIFTS.START_TIME' | translate }}</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="time"
            matInput
            required
            id="start_time"
            name="start_time"
            [(ngModel)]="local_data.start_time"
            [placeholder]="'SHIFTS.START_TIME' | translate"
          />
          <mat-icon matPrefix>
            <i-tabler name="clock" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <mat-label class="f-w-600 m-b-8 d-block">{{ 'SHIFTS.END_TIME' | translate }}</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="time"
            matInput
            required
            id="end_time"
            name="end_time"
            [(ngModel)]="local_data.end_time"
            [placeholder]="'SHIFTS.END_TIME' | translate"
          />
          <mat-icon matPrefix>
            <i-tabler name="clock" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>

      <div class="col-lg-12" *ngIf="action === 'Update'">
        <mat-label class="f-w-600 m-b-8 d-block">{{ 'SHIFTS.STATUS' | translate }}</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select [(ngModel)]="local_data.is_active" name="is_active">
            <mat-option [value]="true">{{ 'SHIFTS.ACTIVE' | translate }}</mat-option>
            <mat-option [value]="false">{{ 'SHIFTS.INACTIVE' | translate }}</mat-option>
          </mat-select>
          <mat-icon matPrefix>
            <i-tabler name="toggle-left" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <button
        mat-flat-button
        color="primary"
        (click)="doAction()"
        [disabled]="!shiftForm.valid"
        class="m-r-8"
      >
        {{ (action === 'Add' ? 'SHIFTS.ADD' : 'SHIFTS.UPDATE') | translate }}
      </button>
      <button mat-stroked-button (click)="closeDialog()" color="warn">
        {{ 'SHIFTS.CANCEL' | translate }}
      </button>
    </div>
  </form>
</mat-dialog-content>
} @else if (action === 'Delete') {
<mat-dialog-content>
  <p class="m-t-16">
    {{ 'SHIFTS.DEACTIVATE_CONFIRM' | translate }}
  </p>
  <p class="m-t-8 text-muted">
    <strong>{{ local_data.start_time }}</strong> - 
    <strong>{{ local_data.end_time }}</strong> (ID: {{ local_data.id }})
  </p>
  <p class="m-t-16 text-info">
    <mat-icon class="icon-20 d-inline-flex align-middle m-r-4">info</mat-icon>
    {{ 'SHIFTS.DEACTIVATE_INFO' | translate }}
  </p>
  <div class="d-flex justify-content-end m-t-24">
    <button mat-flat-button color="warn" (click)="doAction()" class="m-r-8">
      {{ 'SHIFTS.DEACTIVATE' | translate }}
    </button>
    <button mat-stroked-button (click)="closeDialog()">{{ 'SHIFTS.CANCEL' | translate }}</button>
  </div>
</mat-dialog-content>
} @else if (action === 'Reactivate') {
<mat-dialog-content>
  <p class="m-t-16">
    {{ 'SHIFTS.REACTIVATE_CONFIRM' | translate }}
  </p>
  <p class="m-t-8 text-muted">
    <strong>{{ local_data.start_time }}</strong> - 
    <strong>{{ local_data.end_time }}</strong> (ID: {{ local_data.id }})
  </p>
  <p class="m-t-16 text-success">
    <mat-icon class="icon-20 d-inline-flex align-middle m-r-4">check_circle</mat-icon>
    {{ 'SHIFTS.REACTIVATE_INFO' | translate }}
  </p>
  <div class="d-flex justify-content-end m-t-24">
    <button mat-flat-button color="primary" (click)="doActionReactivate()" class="m-r-8">
      {{ 'SHIFTS.REACTIVATE' | translate }}
    </button>
    <button mat-stroked-button (click)="closeDialog()">{{ 'SHIFTS.CANCEL' | translate }}</button>
  </div>
</mat-dialog-content>
}
