<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <div class="hstack align-items-center flex-column flex-lg-row">
          <div class="w-100">
            <mat-card-title>Alertas recientes</mat-card-title>
          </div>
        </div>
      </div>

      <div class="col-lg-4 d-flex align-items-center justify-content-end">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input
            matInput
            placeholder="Search"
            (keyup)="applyFilter($any($event.target).value)"
          />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container matColumnDef="hora">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Hora</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.hora | date : "HH:mm" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Tipo</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            <mat-chip
              [ngClass]="{
                'bg-error text-white': element.tipo === 'Gases tóxicos',
                'bg-warning text-white':
                  element.tipo === 'Ritmo cardíaco anormal',
                'bg-primary text-white':
                  element.tipo === 'Temperatura corporal alta',
                'bg-accent text-white': element.tipo === 'Caídas/Impactos'
              }"
              class="f-s-12"
            >
              {{ element.tipo }}
            </mat-chip>
          </td>
        </ng-container>

        <ng-container matColumnDef="empleado">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Empleado
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14 f-w-500">
            {{ element.empleado }}
          </td>
        </ng-container>

        <ng-container matColumnDef="area">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Área</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.area }}
          </td>
        </ng-container>

        <ng-container matColumnDef="severidad">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Severidad
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-chip
              [ngClass]="{
                'bg-error text-white': element.severidad === 'Crítica',
                'bg-warning text-white': element.severidad === 'Alta',
                'bg-accent text-white': element.severidad === 'Media',
                'bg-success text-white': element.severidad === 'Baja'
              }"
              class="f-s-12"
            >
              {{ element.severidad }}
            </mat-chip>
          </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Acciones
          </th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a
              (click)="openDialog('Update', element)"
              class="m-r-10 cursor-pointer"
              matTooltip="Editar"
              ><i-tabler name="edit" class="icon-18"></i-tabler
            ></a>
            <a
              (click)="openDialog('Delete', element)"
              class="m-r-10 cursor-pointer"
              matTooltip="Eliminar"
            >
              <i-tabler name="trash" class="icon-18"></i-tabler>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
