<div class="row">
  <!-- Top Cards -->
  <div class="col-12">
    <app-top-cards></app-top-cards>
  </div>

  
    <div class="col-12">
    <app-ml></app-ml>
  </div>

  <!-- Ejercicio por turno -->

  <div class="col-lg-6">
    <app-workout-by-shift></app-workout-by-shift>
  </div>

  <!-- Promedios biométricos -->
  <div class="col-lg-6">
    <app-biometric-avg></app-biometric-avg>
  </div>

  <!-- Alertas recientes -->
  <div class="col-lg-6">
    <app-recent-alerts></app-recent-alerts>
  </div>

  <!-- Trabajadores activos -->
  <div class="col-lg-6">
    <app-active-workers></app-active-workers>
  </div>

  <!-- 🆕 VISUALIZACIÓN 3D DEL GIROSCOPIO - Ancho completo -->
  <div class="col-12">
    <app-gyroscope-orientation></app-gyroscope-orientation>
  </div>
</div>
