<h2 class="f-w-500 m-b-24" mat-dialog-title>
  <strong>{{ action }} Position</strong>
</h2>

@if (action !== 'Delete') {
<mat-dialog-content style="max-width: 600px">
  <form #positionForm="ngForm">
    <div class="row">
      <div class="col-lg-12">
        <mat-label class="f-w-600 m-b-8 d-block">Name</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            matInput
            required
            id="name"
            name="name"
            [(ngModel)]="local_data.name"
            placeholder="Position Name"
          />
          <mat-icon matPrefix>
            <i-tabler name="briefcase" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>

      <div class="col-lg-12">
        <mat-label class="f-w-600 m-b-8 d-block">Description</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <textarea
            matInput
            id="description"
            name="description"
            [(ngModel)]="local_data.description"
            placeholder="Position Description"
            rows="3"
          ></textarea>
          <mat-icon matPrefix>
            <i-tabler name="file-text" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>

      <div class="col-lg-12" *ngIf="action === 'Update'">
        <mat-label class="f-w-600 m-b-8 d-block">Status</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select [(ngModel)]="local_data.is_active" name="is_active">
            <mat-option [value]="true">Active</mat-option>
            <mat-option [value]="false">Inactive</mat-option>
          </mat-select>
          <mat-icon matPrefix>
            <i-tabler name="toggle-left" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <button
        mat-flat-button
        color="primary"
        (click)="doAction()"
        [disabled]="!positionForm.valid"
        class="m-r-8"
      >
        {{ action }}
      </button>
      <button mat-stroked-button (click)="closeDialog()" color="warn">
        Cancel
      </button>
    </div>
  </form>
</mat-dialog-content>
} @else {
<mat-dialog-content>
  <p class="m-t-16">
    Are you sure you want to delete the position
    <strong>{{ local_data.name }}</strong> (ID: {{ local_data.id }})?
  </p>
  <div class="d-flex justify-content-end m-t-24">
    <button mat-flat-button color="warn" (click)="doAction()" class="m-r-8">
      Delete
    </button>
    <button mat-stroked-button (click)="closeDialog()">Cancel</button>
  </div>
</mat-dialog-content>
}
