<mat-card class="cardWithShadow overflow-hidden bg-primary">
  <mat-card-content class="text-white p-y-10">
    <mat-card-title class="d-flex align-items-center">
      <a
        mat-icon-button
        (click)="goBack()"
        class="d-flex justify-content-center m-r-10"
      >
        <i-tabler name="chevron-left" class="icon-18 d-flex"></i-tabler>
      </a>

      {{ courseDetail?.title }}
    </mat-card-title>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-vertical-stepper #stepper>
      <mat-step
        *ngFor="let module of courseDetail.lessonCourseDtos; let i = index"
      >
        <ng-template matStepLabel>
          {{ module.title }}
        </ng-template>

        <h3>Módulo {{ i + 1 }}: {{ module.title }}</h3>

        <div *ngIf="module.lessonDtos && module.lessonDtos.length > 0">
          <div
            *ngFor="let lesson of module.lessonDtos; let j = index"
            style="margin-bottom: 1rem"
          >
            <h4>Lección {{ j + 1 }}: {{ lesson.title }}</h4>
            <p>{{ lesson.description }}</p>

            <div *ngIf="lesson.resources && lesson.resources.length > 0">
              <h5>Recursos:</h5>
              <ul>
                <li *ngFor="let resource of lesson.resources">
                  <a
                    [href]="resource.fileUrl"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    {{ resource.fileName }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="stepper-buttons" style="margin-top: 1rem">
          <button
            mat-flat-button
            color="primary"
            matStepperPrevious
            *ngIf="i > 0"
            style="margin-right: 1rem"
          >
            Atrás
          </button>
          <button
            mat-flat-button
            color="primary"
            matStepperNext
            *ngIf="i < (courseDetail.lessonCourseDtos?.length ?? 0) - 1"
          >
            Siguiente
          </button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>
