<div class="row justify-content-center">
  <div class="col-lg-8">
    <!-- Create a post -->
    <mat-card class="shadow-none b-1">
      <mat-card-content>
        <form (ngSubmit)="addPost(postForm)" #postForm="ngForm">
          <div class="row">
            <div class="col-sm-12 mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <input
                  matInput
                  placeholder="Title"
                  [(ngModel)]="newPost.title"
                  name="title"
                  required
                />
              </mat-form-field>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <textarea
                  rows="5"
                  matInput
                  placeholder="Share your thoughts"
                  [(ngModel)]="newPost.content"
                  name="content"
                  required
                ></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button
              mat-flat-button
              color="primary"
              type="submit"
              [disabled]="postForm.invalid"
            >
              Send
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <!-- Posts section -->
    <ng-container *ngFor="let post of forumPosts">
      <mat-card class="shadow-none b-1 m-t-16">
        <mat-card-content class="pt-2 pb-2">
          <div class="d-flex align-items-center gap-16">
            <img
              alt="user"
              width="40"
              class="rounded-circle"
              src="/assets/images/profile/user-2.png"
            />
            <span class="f-s-16 f-w-600">{{ post.createdBy }}</span>
            <span class="f-s-12 d-flex align-items-center gap-4 lh-sm">
              <i-tabler
                name="circle-filled"
                class="op-5 d-flex icon-6"
              ></i-tabler>
              {{ getRelativeDate(post.createdDate) }}
            </span>
          </div>
          <p class="f-s-14 m-t-16">{{ post.content }}</p>
        </mat-card-content>

        <!-- Comments section -->
        <div
          class="b-t-1"
          *ngIf="post.postComment && post.postComment.length > 0"
        >
          <div
            *ngFor="let comment of post.postComment"
            class="d-flex align-items-start p-16 gap-16"
          >
            <img
              alt="user"
              width="33"
              class="rounded-circle"
              src="/assets/images/profile/user-10.png"
            />
            <div>
              <mat-card class="shadow-none b-1 p-10 m-b-0">
                <span class="f-s-14 f-w-600">{{ comment.createdName }}</span>
                <p class="m-0 f-s-14">{{ comment.content }}</p>
              </mat-card>
              <span
                class="f-s-12 d-flex align-items-center gap-4 lh-sm m-0 m-l-8"
              >
                {{ getRelativeDate(comment.createdDate) }}
              </span>
            </div>
          </div>
        </div>

        <!-- Input to add new comment -->
        <div class="b-t-1">
          <div class="d-flex align-items-center p-16 gap-16">
            <img
              alt="user"
              width="33"
              class="rounded-circle"
              src="/assets/images/profile/user-10.png"
            />
            <mat-form-field
              appearance="outline"
              class="flex-grow-1 w-100 hide-hint m-0"
            >
              <input
                matInput
                placeholder="Comment"
                [(ngModel)]="newComments[post.postId]"
              />
            </mat-form-field>
            <button
              mat-flat-button
              color="primary"
              (click)="addComment(post.postId)"
            >
              Send
            </button>
          </div>
        </div>
      </mat-card>
    </ng-container>
  </div>
</div>