<h2 class="f-w-500 m-b-24" mat-dialog-title><strong>{{ action }}</strong></h2>

@if (action !== 'Delete') {
<mat-dialog-content style="max-width: 600px">
  <form #userForm="ngForm">
    <div class="row">
      <div class="col-lg-6">
        <mat-label class="f-w-600 m-b-8 d-block">Name</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            matInput
            required
            id="name"
            name="name"
            [(ngModel)]="local_data.name"
            placeholder="Name"
          />
          <mat-icon matPrefix>
            <i-tabler name="user" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <mat-label class="f-w-600 m-b-8 d-block">Email</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="email"
            matInput
            required
            id="email"
            name="email"
            [(ngModel)]="local_data.email"
            placeholder="Email"
          />
          <mat-icon matPrefix>
            <i-tabler name="mail" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <mat-label class="f-w-600 m-b-8 d-block">Password</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="password"
            matInput
            required
            id="password"
            name="password"
            [(ngModel)]="local_data.password"
            placeholder="Password"
          />
          <mat-icon matPrefix>
            <i-tabler name="lock" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>

      <div class="col-lg-6" *ngIf="action === 'Update'">
        <mat-label class="f-w-600 m-b-8 d-block">Phone</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            matInput
            required
            id="phone"
            name="phone"
            [(ngModel)]="local_data.phone"
            placeholder="Phone"
          />
          <mat-icon matPrefix>
            <i-tabler name="phone" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
</div>


      <div class="col-lg-4">
        <mat-label class="f-w-600 m-b-8 d-block">Rol</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select [(ngModel)]="local_data.rol" name="rol">
            <mat-option value="User">User</mat-option>
            <mat-option value="Admin">Admin</mat-option>
            <mat-option value="Instructor">Instructor</mat-option>
          </mat-select>
          <mat-icon matPrefix>
            <i-tabler name="settings" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <button
        mat-flat-button
        color="primary"
        (click)="doAction()"
        [disabled]="!userForm.valid"
        type="button"
      >
        {{ action }}
      </button>
      <button
        mat-stroked-button
        color="warn"
        class="m-l-8"
        (click)="closeDialog()"
        type="button"
      >
        Cancel
      </button>
    </div>
  </form>
</mat-dialog-content>
} @else {
<div class="p-x-24">
  <p>Are you sure you want to delete <strong>{{ local_data.name }}</strong>?</p>
</div>
<div mat-dialog-actions class="p-x-24 p-b-24">
  <button mat-flat-button color="warn" (click)="doAction()">
    {{ action }}
  </button>
  <button mat-stroked-button (click)="closeDialog()" class="m-l-8">
    Cancel
  </button>
</div>
}
