<h2 class="f-w-500 m-b-24" mat-dialog-title>
  <strong>{{ action === 'Add' ? ('AREAS.ADD' | translate) : (action === 'Update' ? ('AREAS.UPDATE' | translate) : (action === 'Delete' ? ('AREAS.DEACTIVATE' | translate) : ('AREAS.REACTIVATE' | translate))) }} {{ 'AREAS.TITLE' | translate }}</strong>
</h2>

@if (action !== 'Delete' && action !== 'Reactivate') {
<mat-dialog-content style="max-width: 600px">
  <form #areaForm="ngForm">
    <div class="row">
      <div class="col-lg-12">
        <mat-label class="f-w-600 m-b-8 d-block">{{ 'AREAS.NAME' | translate }}</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            matInput
            required
            id="name"
            name="name"
            [(ngModel)]="local_data.name"
            [placeholder]="'AREAS.AREA_NAME' | translate"
          />
          <mat-icon matPrefix>
            <i-tabler name="map-pin" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>

      <div class="col-lg-12">
        <mat-label class="f-w-600 m-b-8 d-block">{{ 'AREAS.DESCRIPTION' | translate }}</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <textarea
            matInput
            id="description"
            name="description"
            [(ngModel)]="local_data.description"
            [placeholder]="'AREAS.AREA_DESCRIPTION' | translate"
            rows="4"
          ></textarea>
          <mat-icon matPrefix>
            <i-tabler name="file-text" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>

      <div class="col-lg-12" *ngIf="action === 'Update'">
        <mat-label class="f-w-600 m-b-8 d-block">{{ 'AREAS.STATUS' | translate }}</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select [(ngModel)]="local_data.is_active" name="is_active">
            <mat-option [value]="true">{{ 'AREAS.ACTIVE' | translate }}</mat-option>
            <mat-option [value]="false">{{ 'AREAS.INACTIVE' | translate }}</mat-option>
          </mat-select>
          <mat-icon matPrefix>
            <i-tabler name="toggle-left" class="icon-20 d-flex"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <button
        mat-flat-button
        color="primary"
        (click)="doAction()"
        [disabled]="!areaForm.valid"
        class="m-r-8"
      >
        {{ action === 'Add' ? ('AREAS.ADD' | translate) : ('AREAS.UPDATE' | translate) }}
      </button>
      <button mat-stroked-button (click)="closeDialog()" color="warn">
        {{ 'AREAS.CANCEL' | translate }}
      </button>
    </div>
  </form>
</mat-dialog-content>
} @else if (action === 'Delete') {
<mat-dialog-content>
  <p class="m-t-16">
    {{ 'AREAS.DEACTIVATE_CONFIRM' | translate }}
    <strong>{{ local_data.name }}</strong>?
  </p>
  <p class="text-muted f-s-13">{{ 'AREAS.DEACTIVATE_INFO' | translate }}</p>
  <div class="d-flex justify-content-end m-t-24">
    <button mat-flat-button color="warn" (click)="doAction()" class="m-r-8">
      {{ 'AREAS.DEACTIVATE' | translate }}
    </button>
    <button mat-stroked-button (click)="closeDialog()">{{ 'AREAS.CANCEL' | translate }}</button>
  </div>
</mat-dialog-content>
} @else {
<mat-dialog-content>
  <p class="m-t-16">
    {{ 'AREAS.REACTIVATE_CONFIRM' | translate }}
    <strong>{{ local_data.name }}</strong>?
  </p>
  <p class="text-muted f-s-13">{{ 'AREAS.REACTIVATE_INFO' | translate }}</p>
  <div class="d-flex justify-content-end m-t-24">
    <button mat-flat-button color="primary" (click)="doActionReactivate()" class="m-r-8">
      {{ 'AREAS.REACTIVATE' | translate }}
    </button>
    <button mat-stroked-button (click)="closeDialog()">{{ 'AREAS.CANCEL' | translate }}</button>
  </div>
</mat-dialog-content>
}
