.card-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 440px;
}

.user-category {
  margin-top: -85px;
  z-index: 1;
  position: relative;
}

.enroll-container {
  display: flex;
  justify-content: center;
}

.enroll-button {
  font-weight: bold;
  font-size: 18px;
  padding: 12px 28px;
  min-width: 200px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 10;
}


@media (min-width: 1200px) {
    .blog-title {
        font-size: 36px;
        line-height: 40px;
    }
}